    <!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/home.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
</head>

<body>
    <ul id="menu">
        <li data-menuanchor="bio"><a href="#bio">Biography</a></li>
        <li data-menuanchor="social"><a href="#social">Social Links</a></li>
    </ul>

    <div id="section0" class="section" data-name="bio">

        {% include common/notices.html %}

        <div class="headings animated fadeInLeft">
            <h3>Take screenshot</h3>
            <h5>Invite your friends</h5>
            <img src = "/assets/images/dare.gif" style="width:300px;height:300px;">
            
        </div>
        <a class="btn-continue animated bounce" title="{{ site.data.i18n[site.lang].more }}" href="#social"></a>
    </div>

    

    {% include home/scripts.html %}
</body>

</html>